body {
  background-image: url("assets/images/background-desktop.png");
  font-family: "Inconsolata", monospace;
  color: white;
}

.background-image {
  position: absolute;
  bottom: -98px;
  left: -3px;
  z-index: -1;
}

.background-image-two {
  position: absolute;
  top: 45px;
  right: -4px;
  z-index: -1;
}

.top-logo {
  display: flex;
  margin: 0 auto;
  padding: 10px;
}

.tg-form {
  padding: 0 50px;
  width: 80%;
  margin-top: 10px;
}

/* .tg-form > div {
  margin-bottom: 10px;
} */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.main-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.upload-container {
  border: 2px dashed grey;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
}

.upload-hover,
button,
.input,
.remove-btns {
  transition: opacity 0.5s ease;
}

button:hover,
.input:hover {
  cursor: pointer;
  opacity: 0.5;
}

.remove-btns:hover {
  background-color: transparent;
  color: white;
}

.upload-hover:hover {
  cursor: pointer;
  opacity: 0.5;
}

.inner-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-container {
  display: flex;

  align-items: center;
}

.tg-form > div {
  margin-bottom: 8px;
}

.upload-font {
  font-size: 13px;
}

.upload-remove-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 5px;
  margin-top: 1rem;
}

.remove-btns {
  padding: 8px;
  font-size: 12px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(122 118 118 / 69%);
  opacity: 0.5;
  color: white;
}

.input-form {
  display: grid;
}

.input {
  padding: 10px;
  border: solid 4px rgba(63, 60, 61, 0.28);
  background-color: rgb(226 80 143 / 0.4);
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.input-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.generate-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: hsl(7, 71%, 60%);
  border-radius: 10px;
  width: 100%;
  font-weight: 800;
  font-size: 0.9rem;
}

input {
  width: 100%;
}

#img-view {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid grey;
  border-radius: 10px;
}

#error,
#email-error,
#git-error {
  margin-bottom: 18px;
}

.hidden {
  display: none;
}

#photo-avatar {
  width: 100px;
  height: 100px;
}

#avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.main-ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.conference-ticket {
  /* background-image: url(assets/images/pattern-ticket.svg);
  background-repeat: no-repeat; */
  margin-bottom: 20px;
  position: relative;
  /* background-size: 100% 100%; */
  /* background-position: center; */
  /* width: 40%;
  padding: 16px; */
}

.logo-image {
  height: 42px;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 42px;
  /* padding: 20px; */
}

.first-container > p {
  margin-left: 69px;
  font-size: 15px;
}

.congrats-text {
  margin-bottom: 20px;
}

.github-icon {
  width: 50px;
  height: 50px;
}

#inputted-name {
  color: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
  margin: 0px;
}

#inputted-email {
  color: hsl(7, 71%, 60%);
}

.username-holder {
  display: flex;
  align-items: center;
  gap: 10px;
}

#inputted-name-two {
  font-size: 34px;
  font-weight: 300;
  margin: 0px;
}

.email-text {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 14px;
  left: 12px;

  padding: 6px;
  gap: 24px;
}
