body {
  background-image: url("assets/images/background-desktop.png");
  font-family: "Inconsolata", monospace;
  color: white;
}

.tg-form {
  padding: 0 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.main-text {
  font-size: 25px;
}

.upload-container {
  border: 2px dashed grey;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
}

.upload-hover,
button,
.input,
.remove-btns {
  transition: opacity 0.5s ease;
}

button:hover,
.input:hover {
  cursor: pointer;
  opacity: 0.5;
}

.remove-btns:hover {
  background-color: transparent;
  color: white;
}

.upload-hover:hover {
  cursor: pointer;
  opacity: 0.5;
}

.inner-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-container {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 40px;
}

.upload-font {
  font-size: 10px;
}

.upload-remove-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 5px;
  margin-top: 1rem;
}

.remove-btns {
  padding: 8px;
  font-size: 12px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(122 118 118 / 69%);
  opacity: 0.5;
  color: white;
}

.input-form {
  display: grid;
}

.input {
  padding: 10px;
  border: solid 4px rgba(63, 60, 61, 0.28);
  background: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.generate-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: hsl(7, 71%, 60%);
  border-radius: 10px;
  width: 100%;
  font-weight: 800;
  font-size: 0.9rem;
}

input {
  width: 100%;
}

#img-view {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid grey;
  border-radius: 10px;
}

.hidden {
  display: none;
}
